<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <!-- <link rel="stylesheet" href="../static/css/styles.css"> -->
    <title> Proyecto Vida</title>
</head>
<body>
    <!-- Div contenedor -->
    <div id="app">

        <nav>
            <ul>
                <li><a href="#">Finanzas</a></li>
                <li><a href="#">Textos</a></li>
                <li><a href="#">Próximamente</a></li>
                <li><a href="#">Próximamente</a></li>
            </ul>
        </nav>

        <main></main>
    </div>

    
</body>
</html>