<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <!-- <link rel="stylesheet" href="../static/css/styles.css"> -->
    <title> {% block titulo %}Proyecto Vida{% endblock %}</title>
</head>
<body>
    <!-- Div contenedor -->
    <div id="app">

        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('gestor_notas') }}">Notas</a></li>
            </ul>
        </nav>

    <main>
        {% block contenido %}
        <!-- Acá se carga el contenido del gestor de notas -->
        <!-- Puede ser hecho todo en un mismo HTML, sí, esto es un remanente de lo que iba a ser el proyecto -->
        <!-- Queda como registro de los cambios realizados para no eliminar todo... -->
         {% endblock %}
    </main>
    </div>

    
</body>
</html>