{% extends "base.html" %}

{% block titulo %}Gestor de Notas{% endblock %}

{% block contenido %}
<div id="main_notas">
    <!-- Fila de selects -->
    <div class="fila-selects">
        <select id="categoria">
            <option value="General">Categoría</option>
            <option vale="Nueva categoría">Nueva categoría</option>
        </select>
        <select id="notas">
            <option value="Nota #1">Nota #1</option>
            <option value="Nueva nota">Nueva nota</option>
        </select>
    </div>

    <!-- Casillero para el título -->
    <label for="titulo">Título:</label>
    <input type="text" id="titulo" value="Nota #1">

    <!-- Panel de texto -->
    <label for="contenido">Contenido:</label>
    <textarea id="contenido" rows="10" cols="50"></textarea>

    <!-- Fila de botones -->
    <div class="fila-botones">
        <button type="button" id="guardar">Guardar</button>
        <button type="button" id="eliminar">Eliminar</button>
    </div>
</div>

{% endblock %}
